body{
    font-family: 'Redressed', cursive;

}

main{
    width:80%;
    margin:0 auto;

}
h1{
    font-size: 3em;
    margin-bottom: 0;
}
h1+h2{
    margin-top: 0;
}
h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}