<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <h1>all the cats</h1>
    <% for(let cat of cats){ %>
        <li> <%= cat %> </li>
    <% } %> 
    <%- include('partials/footer') %>