<%- include('partials/head') %>

    <%- include('partials/navbar') %>
    <h1>Home Page</h1>

    <p>this is my ejs homePage testing, be welcome!</p>

    <h2>Here's some math to test ejs Interpolation sintax :)</h2>
        <p><%= 1 + 2 * 4 / 2 %> </p>
        <%- include('partials/footer') %>