section{
    width: 80%;
    height: 600px;
    background:center/50% url('https://images.unsplash.com/photo-1517732306149-e8f829eb588a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80');

    margin:0 auto;
}

h1{
    font-family:'Redressed', cursive;
    font-size: 70px;
    color:white;
}

